<!DOCTYPE html>
<html>
    <head>
        <title>Bowring!</title>
    </head>
    <body>
      <h1>Buster's Best Bowling Alley</h1>
        <p> 97 Bowling AlleyLane, Boulder CO </p>
    </body>
</html>